.header {
  background-color: #bae6fd; /* bleu clair */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.buttonTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e3a8a; 
  background: none;
  border: none;
  cursor: pointer;
}


