.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* pour que le contenu prenne tout l'espace restant */
  padding: 20px;
  background-color: #f0f4f8; /* un fond clair par exemple */
}
